@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 352 55% 98%;
    --foreground: 352 72% 4%;
    --muted: 0 26% 95%;
    --muted-foreground: 0 5% 40%;
    --popover: 352 55% 98%;
    --popover-foreground: 352 72% 4%;
    --card: 352 55% 98%;
    --card-foreground: 352 72% 4%;
    --border: 352 6% 88%;
    --input: 352 6% 88%;
    --primary: 352 91% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 87%;
    --secondary-foreground: 0 0% 27%;
    --accent: 0 7% 79%;
    --accent-foreground: 0 7% 19%;
    --destructive: 7 91% 32%;
    --destructive-foreground: 7 91% 92%;
    --ring: 352 91% 56%;
    --chart-1: 352 91% 56%;
    --chart-2: 0 0% 87%;
    --chart-3: 0 7% 79%;
    --chart-4: 0 0% 90%;
    --chart-5: 352 94% 56%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 352 58% 4%;
    --foreground: 352 24% 99%;
    --muted: 352 26% 5%;
    --muted-foreground: 352 5% 60%;
    --popover: 352 58% 4%;
    --popover-foreground: 352 24% 99%;
    --card: 352 58% 4%;
    --card-foreground: 352 24% 99%;
    --border: 352 6% 14%;
    --input: 352 6% 14%;
    --primary: 352 91% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 352 17% 19%;
    --secondary-foreground: 352 17% 79%;
    --accent: 352 24% 26%;
    --accent-foreground: 352 24% 86%;
    --destructive: 7 91% 60%;
    --destructive-foreground: 7 91% 0%;
    --ring: 352 91% 56%;
    --chart-1: 352 91% 56%;
    --chart-2: 352 17% 19%;
    --chart-3: 352 24% 26%;
    --chart-4: 352 17% 22%;
    --chart-5: 352 94% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.custom-logo-experience-mobile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -82px; /* Equivalent to -left-20 */
  top: 0.25rem; /* Equivalent to top-1 */
  background-color: white; /* Equivalent to bg-white */
  border: 1px solid #d1d5db; /* Equivalent to border-gray-300 */
  border-radius: 9999px; /* Equivalent to rounded-full */
  width: 4rem; /* Equivalent to w-16 */
  height: 4rem; /* Equivalent to h-16 */
  padding: 0.25rem; /* Equivalent to p-1 */
}

.custom-logo-experience-lg {
  display: none; /* Equivalent to hidden */
}
/* Apply styles only on large screens */
@media (min-width: 1024px) {
  .custom-logo-experience-lg {
    display: flex; /* Equivalent to lg:flex */
    position: absolute;
    justify-content: center;
    align-items: center;
    right: -116px; /* Equivalent to -right-28 */
    top: 0.25rem; /* Equivalent to top-1 */
    background-color: white; /* Equivalent to bg-white */
    border: 1px solid #d1d5db; /* Equivalent to border-gray-300 */
    border-radius: 9999px; /* Equivalent to rounded-full */
    width: 4rem; /* Equivalent to w-16 */
    height: 4rem; /* Equivalent to h-16 */
  }
}
.custom-card-right-lg {
  position: relative; /* Equivalent to relative */
  padding: 1rem; /* Equivalent to p-4 */
  margin-left: 3rem; /* Equivalent to ml-12 */
  margin-right: 0; /* Equivalent to lg:mr-20 on larger screens */
  margin-top: 0.75rem; /* Equivalent to lg:mt-3 */
  border-width: 1px; /* Equivalent to border-1px */
  transition: box-shadow 0.3s, transform 0.3s; /* For smooth hover effect */
}

/* Styles specific to large screens */
@media (min-width: 1024px) {
  .custom-card-right-lg {
    display: absolute; /* Equivalent to absolute */
    margin-left: 0; /* Equivalent to lg:ml-0 */
    margin-right: 5rem; /* Equivalent to lg:mr-20 */
    margin-top: 0.75rem; /* Equivalent to lg:mt-3 */
    transform: translateX(580px); /* Move the card out to the right */
  }
}

.custom-logo-experience-lg-right {
  display: none; /* Equivalent to hidden */
}
@media (min-width: 1024px) {
  .custom-logo-experience-lg-right {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -117px; /* Equivalent to -left-20 */
    top: 0.25rem; /* Equivalent to top-1 */
    background-color: white; /* Equivalent to bg-white */
    border: 1px solid #d1d5db; /* Equivalent to border-gray-300 */
    border-radius: 9999px; /* Equivalent to rounded-full */
    width: 4rem; /* Equivalent to w-16 */
    height: 4rem; /* Equivalent to h-16 */
    padding: 0.25rem; /* Equivalent to p-1 */
  }
}

.box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--accent);
}
.offset-anchor {
  position: relative;
  padding-top: 100px;
  margin-top: -100px;
}
@keyframes rotateSelf {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateSelfInverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.rotate-self {
  animation: rotateSelf 10s infinite linear;
  transform-origin: center;
}
.rotate-self-inverse {
  animation: rotateSelfInverse 10s infinite linear;
  transform-origin: center;
}
.mouse-light {
  position: absolute;
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.1s ease;
  mix-blend-mode: screen;
}